/* src/styles/global.css */
:root {
	--background-color: #f5f5f5;
	--text-color: #333;
	--primary-color: #6BAED6;    /* Azul claro */
	--secondary-color: #1F3B73;  /* Azul escuro */
	--accent-color: #4a90e2;     /* Tonalidade complementar */
	--button-background: var(--primary-color);
	--button-text: #fff;
  }
  
  html, body, .app {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	transition: background-color 0.3s ease, color 0.3s ease;
	background-color: var(--background-color);
	color: var(--text-color);
  }
  
  .app.dark {
	/* Variáveis alteradas para o dark mode */
	--background-color: #121212;
	--text-color: #eee;
	--button-background: var(--secondary-color);
	--button-text: #fff;
  }
  
  .app {
	min-height: 100vh;
  }
  
  .animate-page {
	animation: fadeIn 0.8s ease-out;
  }
  
  @keyframes fadeIn {
	from { opacity: 0; transform: translateY(10px); }
	to { opacity: 1; transform: translateY(0); }
  }
  